<footer>
  <hr>
  <center>
  <img src="title_logo.png" style="width:25px;height:25px;">
  <!-- Copyright footnote -->
  &copy; 2023 World Happiness Report by Algoritma.
  <!-- Footer links -->
  <nav>
	<a href="https://algorit.ma/">Website</a>
	<a href="https://www.linkedin.com/school/teamalgoritma/posts/?feedView=all">LinkedIn</a>
  </nav>
  <center>
</footer>
